body {
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJUAnwMBIgACEQEDEQH/xAAVAAEBAAAAAAAAAAAAAAAAAAAAA//EABQQAQAAAAAAAAAAAAAAAAAAAAD/xAAVAQEBAAAAAAAAAAAAAAAAAAAAA//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKgIIgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP/9k=);
    font-family: georgia;
    padding: 20px;
}
h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
h2{
    font-size: 30px;
}
.established{
    font-style: italic;
}
h1, h2, p{
    text-align: center;
}
.options{
    width: 80%;
    background-color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

hr{
    height: 2px;
    background-color: burlywood;
    border-color: burlywood;
}

.bottom-line{
    margin-top: 25px;
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.dish {
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}

/*FOOTER*/
footer{
    font-size: 14px;
}
.address {
    margin-bottom: 5px;
}
a {
    color: black;
}
a:visited {
    color: black;
  }
  
a:hover {
    color: burlywood;
  }
  
a:active {
    color: burlywood;
  }